.card {
   margin-bottom: 20px;
}

.fa-bell {
   position: relative;
}

.fa-bell:after {
   position: absolute;
   content: '';
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background-color: red;
   top: -5px;
   right: -5px;
}